<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Add Product</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/add-product.css">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" id="comapany" href="#">IITD CART</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <div class="nav-item active">
        <a class="nav-link top-nav-item" href="/">Home <span class="sr-only">(current)</span></a>
      </div>

      <div class="nav-item">
        <a class="nav-link add-product-icon top-nav-item" href="add-product">Add Product</a>
      </div>




      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


  <!-- Main Body -->
  <div class="page">


    <table>
      <form class="" action="/" method="post">
        <tr>
          <td> <label>Name :</label></td>
          <td><input type="text" name="name" autocomplete="off"></td>
        </tr>
        <tr>
          <td><label for="">Hostel :</label></td>
          <td> <input type="text" name="hostel" autocomplete="off"></td>
        </tr>
        <tr>
          <td><label for=""> Contact no. :</label></td>
          <td><input type="text" name="contact" autocomplete="off"></td>
        </tr>
        <tr>
          <td>Product Type :</td>
          <td><select name="type">
              <option value="books">books</option>
              <option value="electronics">electronics</option>
              <option value="stationary">stationary</option>
              <option value="lab">lab</option>
            </select></td>
        </tr>
        <tr>
          <td> <label for="">Product Image :</label></td>
          <td><input type="file" name="img" autocomplete="off"></td>
        </tr>
        <tr>
          <td>Product Name :</td>
          <td><input type="text" name="product" ></td>
        </tr>
        <tr>
          <td><label for="">Discription :</label></td>
          <td> <input type="text" name="description" autocomplete="off"></td>
        </tr>

        <tr>
          <td> <label for="">Selling Price (Rs.):</label></td>
          <td> <input type="text" name="price" autocomplete="off"></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit" class="btn btn-primary" name="button">Submit</button></td>
        </tr>

      </form>
    </table>


  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="index.js" charset="utf-8"></script>
</body>

</html>
